## Discovering impact of the Series 'Euphoria' through NLP
### Analysis based on posts and comments on the `r/euphoria` subreddit  

#### 3. LDA - Topic Modeling

= *Every documents is probability dist of topics*

*goal*: LDA learns the topic mix in each doc, then words in each topic   

*how*: LDA randomly assigns topics to words (will be wrong). Then, iterativly, looks for how often the topic occus in the doc and how often the word occurs in the topic overall. Based on this infor, assign the word a new topic.

`k = 2` is a good starting part for number of topics  

*input*: TDM, K, num iterations  
*output*: top words in each topic - figure out if they make sense

*tools*:  
`gensim`

alternate factorization methods: 
- NMF
- LSI
- look at BERT TM

#### all posts in the r/euphoria subreddit that match 'rue' and are between jan9 and feb 2 2022 for season 2 

**1st experiment**
N ~ 20,823 post + comments (100%)
Some notable comments:  
- "I was curious, so I read the /r/opiates discussion on the episode and they agree it's accurate. There's not a single negative comment."
- "Having been the partner/girlfriend of an addict, I cannot re-watch several parts of Season 2 because they feel so real to me."
- "Absolutely spot on. I've had my struggles w Vicodin and there were points when I was dope sick, I would do anything to get those damn pills. I'm still feeling some type of a way after last night's episode. That's how accurate it was"
- "Yâ€™all attach too much of your selves to the characters."

**EXP 1**

In [11]:
# bring in data
import pandas as pd
import pickle

data = pd.read_pickle('../dat/tdm_stop.pkl')
data

,aback,abaedefabdfef,abafbfbedbada,abandon,abandoned,abandoning,abandonment,abashed,abdomen,abducts,...,zoned,zongao,zoning,zora,zorbcaps,zoted,zouabi,zoya,zrue,zsuzsana
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19251,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19252,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19253,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19254,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19255,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
from gensim import matutils, models
import scipy.sparse as sp

In [13]:
tdm = data.transpose()
tdm.head()

,0,1,2,3,4,5,6,7,8,9,...,19245,19246,19247,19248,19250,19251,19252,19253,19254,19255
aback,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abaedefabdfef,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abafbfbedbada,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abandon,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abandoned,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# put tdm in gensim format
sparse_counts = sp.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [15]:
# a dictionary of all terms - required by gensim
# cv contains the whole vocabulary of the corpus
cv = pickle.load(open('../dat/cv_Stop.pkl', 'rb'))
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

In [6]:
# we have corpus and id2word, now we can create the lda model
# specify other parameters
# more passes, more it may make sense
lda = models.ldamodel.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)

In [7]:
lda.print_topics()

[(0,
  '0.019*"jules" + 0.018*"like" + 0.014*"think" + 0.010*"ml" + 0.009*"season" + 0.008*"going" + 0.008*"box" + 0.008*"nate" + 0.008*"know" + 0.008*"really"'),
 (1,
  '0.007*"people" + 0.006*"amp" + 0.004*"like" + 0.004*"addiction" + 0.004*"time" + 0.003*"xb" + 0.003*"life" + 0.003*"day" + 0.003*"wel" + 0.003*"know"')]

In [8]:
# lda for 3 topics
lda = models.ldamodel.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)
lda.print_topics()

[(0,
  '0.026*"jules" + 0.022*"like" + 0.015*"think" + 0.012*"people" + 0.011*"nate" + 0.011*"season" + 0.009*"really" + 0.008*"cassie" + 0.008*"does" + 0.007*"know"'),
 (1,
  '0.012*"fez" + 0.010*"like" + 0.009*"going" + 0.009*"know" + 0.008*"did" + 0.007*"think" + 0.007*"time" + 0.006*"drugs" + 0.005*"episode" + 0.005*"got"'),
 (2,
  '0.024*"ml" + 0.019*"box" + 0.015*"niche" + 0.012*"tester" + 0.010*"amp" + 0.007*"designer" + 0.006*"new" + 0.006*"vintage" + 0.005*"cap" + 0.005*"xb"')]

In [9]:
# lda for 4 topics
lda = models.ldamodel.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=10)
lda.print_topics()

[(0,
  '0.034*"jules" + 0.021*"like" + 0.017*"think" + 0.014*"people" + 0.010*"does" + 0.009*"really" + 0.009*"elliot" + 0.008*"know" + 0.008*"feel" + 0.007*"relationship"'),
 (1,
  '0.027*"ml" + 0.021*"box" + 0.017*"niche" + 0.014*"tester" + 0.011*"amp" + 0.008*"designer" + 0.007*"vintage" + 0.007*"new" + 0.006*"cap" + 0.006*"xb"'),
 (2,
  '0.020*"season" + 0.018*"like" + 0.013*"nate" + 0.011*"cassie" + 0.011*"episode" + 0.010*"lexi" + 0.010*"character" + 0.010*"think" + 0.008*"characters" + 0.008*"maddy"'),
 (3,
  '0.012*"fez" + 0.008*"going" + 0.007*"did" + 0.007*"time" + 0.007*"know" + 0.006*"like" + 0.006*"drugs" + 0.005*"drug" + 0.005*"got" + 0.005*"think"')]

**TRY 2**  

only nouns - `nltk`

In [16]:
from nltk import word_tokenize, pos_tag

def nouns(text):
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)]
    return ' '.join(all_nouns)

In [17]:
# read clean data
data_clean = pd.read_pickle('../dat/corpus.pkl')
data_clean

                                                       0
0                 it is a turning point for the series f
1      i am glad we finally get a whole episode dedic...
2      my thought exactly all i could think of while ...
3      i honestly thought with the end of ep the seas...
4      same i feel like we have not really seen much ...
...                                                  ...
19251  the which extremely out franchised culver in t...
19252  so this hapened back in late november and i on...
19253  i want to use the face claim of alexis bledel ...
19254  i just ordered some seed and i am wanting to k...
19255  i watched the bridge episode but what wa the t...

[19166 rows x 1 columns]

In [18]:
# filter so only nouns are left
data_nouns = pd.DataFrame(data_clean[0].apply(nouns))
data_nouns

                                                       0
0                                         point series f
1                             i glad episode protagonist
2                               i watching show shitshow
3                 i end ep season wa space kind mediocre
4                                         season episode
...                                                  ...
19251  culver restaurant family etc culvers culvers i...
19252  november i work dimsum restaurant city folowin...
19253  i face claim bledel character specificaly seas...
19254                                       i seed i way
19255       i bridge episode timeline jules rue i detail

[19166 rows x 1 columns]

In [19]:
# create new dtm
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import text

# add additional stop words - HOW TO ACCOUNT FOR PEOPLE BANGING ON KEYBOARDS?!?!?!?
add_stop_words = ['i', 'just','did', 'ab', 'amp', 'ml', 'xb','abc', 'abcb', 'abcny', 'abd', 'abdabca', 'fs', 
                  'zpqxhxhzanapjsjbf', 'zqcsrpwsge', 'zqnuhckwdqwrhkuo', 'zs', 'zshwbhethehenozxfyqg',
                  'zsmkbrmwngzsibrntkt', 'zy', 'zwhnrmujykdxmntiub', 'afqjcnguytghbsuvixmglpwzqbg', 'ebecadcbdfcbafbdb',
                  'abfbmltmqspf', 'abfafebfbad']
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)

# dtm
cvn = CountVectorizer(stop_words=stop_words)
data_cvn = cvn.fit_transform(data_nouns[0])
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names_out())
data_dtmn.index = data_nouns.index
data_dtmn

,aback,abandon,abandonment,abdomen,abducts,abe,abey,abigail,ability,ableism,...,zombicide,zombie,zomer,zomg,zone,zongao,zora,zorbcaps,zouabi,zoya
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19251,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19252,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19253,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19254,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19255,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
# create gensim corpus
corpusn = matutils.Sparse2Corpus(sp.csr_matrix(data_dtmn.transpose()))
# vocab
id2wordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [ ]:
# 2 topics
ldan = models.ldamodel.LdaModel(corpus=corpusn, id2word=id2wordn, num_topics=2, passes=10)
ldan.print_topics()

In [ ]:
# 3 topics
ldan = models.ldamodel.LdaModel(corpus=corpusn, id2word=id2wordn, num_topics=3, passes=10)
ldan.print_topics()

In [18]:
# 4 topics
ldan = models.ldamodel.LdaModel(corpus=corpusn, id2word=id2wordn, num_topics=4, passes=10)
ldan.print_topics()

[(0,
  '0.030*"box" + 0.022*"niche" + 0.020*"tester" + 0.011*"designer" + 0.010*"vintage" + 0.009*"amp" + 0.008*"cap" + 0.006*"chanel" + 0.006*"xb" + 0.004*"city"'),
 (1,
  '0.091*"rue" + 0.089*"jules" + 0.023*"episode" + 0.019*"relationship" + 0.015*"elliot" + 0.015*"way" + 0.013*"people" + 0.012*"drugs" + 0.011*"rues" + 0.010*"season"'),
 (2,
  '0.019*"drugs" + 0.017*"people" + 0.016*"fez" + 0.015*"rue" + 0.015*"drug" + 0.015*"time" + 0.015*"life" + 0.009*"way" + 0.008*"family" + 0.007*"house"'),
 (3,
  '0.040*"season" + 0.027*"cassie" + 0.026*"nate" + 0.026*"character" + 0.024*"people" + 0.022*"characters" + 0.015*"maddy" + 0.015*"lexi" + 0.013*"lot" + 0.012*"story"')]

**Try 3 - nouns and adjectives**

In [21]:
def nouns_adj(text):
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)]
    return ' '.join(nouns_adj)

In [22]:
data_nouns_adj = pd.DataFrame(data_clean[0].apply(nouns_adj))
data_nouns_adj

                                                       0
0                                 turning point series f
1                       i glad whole episode protagonist
2                           i watching doe show shitshow
3      i end ep season wa space kind mediocre real na...
4                            same i season whole episode
...                                                  ...
19251  culver famous branched restaurant family desse...
19252  late november i most i work nice chinese ameri...
19253  i face claim alexis bledel character specifica...
19254                                  i seed i best way
19255       i bridge episode timeline jules rue i detail

[19166 rows x 1 columns]

In [23]:
# tdm
cvna = CountVectorizer(stop_words=stop_words, max_df=0.8)
data_cvna = cvna.fit_transform(data_nouns_adj[0])
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names_out())
data_dtmna.index = data_nouns_adj.index
data_dtmna

,aback,abandon,abandonment,abdomen,abducts,abe,abey,abhorent,abigail,ability,...,zombie,zomer,zomg,zone,zongao,zora,zorbcaps,zouabi,zoya,zrue
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19251,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19252,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19253,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19254,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19255,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
# create gensim corpus
corpusna = matutils.Sparse2Corpus(sp.csr_matrix(data_dtmna.transpose()))
# vocab
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [25]:
# 2 topics
ldana = models.ldamodel.LdaModel(corpus=corpusna, id2word=id2wordna, num_topics=2, passes=10)
ldana.print_topics()

[(0,
  '0.040*"rue" + 0.026*"jules" + 0.015*"people" + 0.014*"season" + 0.014*"wa" + 0.013*"drug" + 0.013*"character" + 0.012*"episode" + 0.011*"thing" + 0.011*"nate"'),
 (1,
  '0.018*"box" + 0.013*"niche" + 0.012*"tester" + 0.008*"edp" + 0.007*"designer" + 0.007*"new" + 0.006*"vintage" + 0.006*"di" + 0.005*"chanel" + 0.005*"cap"')]

In [26]:
# 3 topics
ldana = models.ldamodel.LdaModel(corpus=corpusna, id2word=id2wordna, num_topics=3, passes=10)
ldana.print_topics()

[(0,
  '0.065*"rue" + 0.063*"jules" + 0.028*"season" + 0.024*"episode" + 0.017*"character" + 0.016*"relationship" + 0.015*"people" + 0.013*"elliot" + 0.011*"thing" + 0.009*"wa"'),
 (1,
  '0.020*"box" + 0.015*"niche" + 0.013*"tester" + 0.009*"edp" + 0.007*"designer" + 0.007*"new" + 0.007*"vintage" + 0.006*"di" + 0.006*"chanel" + 0.005*"cap"'),
 (2,
  '0.020*"rue" + 0.017*"wa" + 0.016*"nate" + 0.015*"drug" + 0.013*"people" + 0.013*"cassie" + 0.012*"time" + 0.011*"fez" + 0.010*"life" + 0.010*"thing"')]

In [27]:
# 4 topics
ldana = models.ldamodel.LdaModel(corpus=corpusna, id2word=id2wordna, num_topics=4, passes=10)
ldana.print_topics()

[(0,
  '0.023*"box" + 0.017*"niche" + 0.015*"tester" + 0.010*"edp" + 0.009*"designer" + 0.008*"new" + 0.008*"vintage" + 0.007*"di" + 0.007*"chanel" + 0.006*"cap"'),
 (1,
  '0.084*"rue" + 0.063*"jules" + 0.016*"relationship" + 0.014*"people" + 0.014*"episode" + 0.014*"elliot" + 0.013*"thing" + 0.013*"drug" + 0.013*"wa" + 0.011*"way"'),
 (2,
  '0.021*"drug" + 0.018*"wa" + 0.014*"time" + 0.014*"rue" + 0.011*"fez" + 0.011*"life" + 0.011*"year" + 0.011*"people" + 0.008*"day" + 0.007*"high"'),
 (3,
  '0.034*"character" + 0.031*"season" + 0.030*"nate" + 0.023*"cassie" + 0.018*"episode" + 0.014*"maddy" + 0.014*"people" + 0.011*"lexi" + 0.010*"scene" + 0.009*"story"')]

**ID topics**

last model makes a little more sense - 4 topics with nouns and adjectives

Going to crank it up a notch with 8 topics, training with chunks of 1k docs, and 100 passes - let's see

In [28]:
# try more topics on more cores
# 8 topics
import gensim
ldna2 = gensim.models.LdaMulticore(corpus=corpusna,
                                       id2word=id2wordna,
                                       num_topics=8, 
                                       random_state=2022,
                                       chunksize=1000,
                                       passes=100,
                                       per_word_topics=True)

In [ ]:
# 8 topics - more passes
ldna2.print_topics()

**Possible Topics**
from 4 topic model

- topic 0: spam on selling fragrance (ugh)
- topic 1: discussion on rue, jules, elliot interaction
- topic 2: rue's drug usage
- topic 3: maddy, nate, cassie in season 2

In [43]:
# what is the topic dist of the document

corpus_transformed = ldana[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(3, 'smur2x'), (2, 'sn2vpk'), (0, 'sqhl33')]

In [70]:
from gensim import corpora, models
coh_model_lda = models.CoherenceModel(model=ldana, 
                                      texts=data_dtmna.columns,
                                      coherence='c_v',
                                      dictionary=dict_na)

In [66]:
# make gensim Dictionary from the corpus
dict_na = corpora.Dictionary([data_dtmna.columns])

In [ ]:
coh_lda = coh_model_lda.get_coherence()
print('coherence score: ', coh_lda)

In [44]:
# coherence analysis to find optimal number of topics
from gensim.models import CoherenceModel

def compute_coherence_values(dictionary, corpus, texts, limit, start=2, step=3):
    """
    Compute c_v coherence for various number of topics
    Parameters:
    ----------
    dictionary : Gensim dictionary
    corpus : Gensim corpus
    texts : List of input texts
    limit : Max num of topics
    start : Initial num of topics
    step : Increment between each topic number
    Returns:
    -------
    model_list : List of LDA topic models
    coherence_values : Coherence values corresponding to the LDA model with respective number of topics
    """
    coherence_values = []
    model_list = []
    for num_topics in range(start, limit, step):
        model = models.ldamodel.LdaModel(corpus=corpus, id2word=dictionary, num_topics=num_topics, passes=10)
        model_list.append(model)
        coherencemodel = CoherenceModel(model=model, texts=texts, dictionary=dictionary, coherence='c_v')
        coherence_values.append(coherencemodel.get_coherence())
    return model_list, coherence_values

In [ ]:
compute_coherence_values(dictionary=id2wordna, corpus=corpusna, texts=data_nouns_adj.body, start=2, limit=40, step=1)